<mat-toolbar class='footer'>
    <div class="ft-links">
        <h2>Links Úteis</h2>
            <div class="ft-dot-link">
                <span class="dot"></span>
                <a href="#">Regras de utilização</a>
            </div>
            <div class="ft-dot-link">
                <span class="dot"></span>
                <a href="#">Suporte</a>
            </div>
            <div class="ft-dot-link">
                <span class="dot"></span>
                <a href="#">Central de ajuda</a>
            </div>
            <div class="ft-dot-link">
                <span class="dot"></span>
                <a href="#">Contatos</a>
            </div>
    </div>
    <div class="ft-links">
        <h2>Páginas</h2>
        <div class="ft-dot-link">
            <span class="dot"></span>
            <a href="#">Início</a>
        </div>
        <div class="ft-dot-link">
            <span class="dot"></span>
            <a href="#">Campeonatos</a>
        </div>
        <div class="ft-dot-link">
            <span class="dot"></span>
            <a href="#">Resultados</a>
        </div>
        <div class="ft-dot-link">
            <span class="dot"></span>
            <a href="#">Notícias</a>
        </div>
        <div class="ft-dot-link">
            <span class="dot"></span>
            <a href="#">Login/Cadastro</a>
        </div>
    </div>
    <div class="logo">
        <img src="/assets/img/logo.svg" alt="logo">
    </div>
    <div class="newsletter-medias">
        <div class="newsletter">
                <p>Faça parte do nosso clan, assine nossa newsletter!</p>
            <form>
                <input type="email" placeholder="E-mail" class="signUpEmail">
                <button mat-raised-button color="primary" type="submit" class="signUpSubmit">Cadastrar</button>
            </form>
        </div>
        <div class="social-media">
                <p class="socialMediaText">Siga-nos em:</p>
            <div class="social-media-logo">
                <img src="/assets/img/logo-instagram.png" alt="instagram">
                <img src="/assets/img/logo-facebook.png" alt="facebook">
                <img src="/assets/img/logo-yt.png" alt="youtube">
            </div>
        </div>
    </div>
</mat-toolbar>