body {
    width: 100%;
    overflow-x: hidden;
}

/*################ HEADER ##################*/
header {
    background-color: black;
    height: 91px;
}

.headerLine {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height:34px;
    width:282px;
}

.headerImg
{
    text-align: center;
}

.menu
{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.menu a{
    font-family: Roboto;
    color: white;
    text-decoration:none;
}

/*################ BANNER ##################*/
.banner{
    height: 577px;
    width: 100%;
    display:inline-block;
    position:relative
}

.bannerImg {
    max-width: 100%;
    height: 577px;
    object-fit: cover;
}

.bannerText{
    width: 494px;
    height: 270px;
    font-family: Roboto;
    color: white;
    position: absolute;
    left: 806px;
    top: 165px;
    text-align: center;
}

.bannerText h1 {
    font-size: 75px;
    font-weight: 700;
}

.bannerText p{
    font-weight: 400;
    font-size: 25px;
}

.bannerText button{
    width: 257px;
    height: 62.48px;
    background: #C31616;
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    border-radius: 10px;
    border: none;
}

/*################ LEAGUES ##################*/
.leagues {
    height: 121px;
    display: flex;
    background-color: black;
    text-align: center; /*alinhamento horizontal*/
    justify-content: space-around; /*alinhamento horizontal para flexbox quando os elementos não usam todo o espaço*/
    align-items: center; /*alinha os elementos verticalmente*/
}

.leagueImg {
    max-width: 136px;
    max-height: 34px;
}

/*################ OFFERS ##################*/
.offers {
    background-color: #1E1C21;
    height: 859px;
}

.offerTitle{
    height: 90px;
    width: 100%;
    position: relative
}

.offerTitle h2{
    color: white;
    font-family: Roboto;
    font-size: 27px;
    position: absolute;
    left: 140px;
    top: 29px;
}

.offerTable {
    width: 100%;
    max-height: 769px;
    padding: 0px 100px 18px 100px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.offer{
    margin: 18px 28px 18px 28px;
    height:333px;
    width:215px;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
}

.offerImg{
    max-width: 215px;
    max-height: 144.66px;
}

.offerInfo {
    color: white;
    font-family: Roboto;
    text-align: left;
    padding: 12px;
}

.offerInfo h3{
    font-size: 18px;
    font-weight: 500;
}

.offerInfo p{
    font-size: 16px;
    font-weight: 500;
}

.offerInfo h4{
    font-size: 24px;
    font-weight: 500;
}

.btnBuy {
    background: #C31616;
    border-radius: 10px;
    height: 39px;
    width: 190px;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

/*################ ABOUT ##################*/

.about {
    position:relative;
    height: 489px;
}

.aboutBgImg {
    position: absolute;
    width:100%;
    height: 489px;
    z-index:1;
}

.aboutContent{
    width: 100%;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.aboutInfo{
    width: 575px;
    z-index: 2;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

.aboutImg{
    width: 575px;
    height: 488px;
    z-index: 2;
}

/* ############################ FOOTER ######################## */

footer {
    width:100%;
    height: 250px;
    background: #010101;
    display: flex;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Roboto;
}

.ft-links{
    width: 148px;
    height: 186.08px;
}

.ft-links h2{
    font-weight: 700;
    font-size: 24px;
}

.ft-dot-link a{
    font-size: 14px;
    color: white;
    font-family: Roboto;
    text-decoration: none;
}

.ft-dot-link .dot {
    height: 11px;
    width: 11px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
  }

.newsletter-medias {
    position: relative;
    width: 355px;
    height: 150px;
}

.newsletter {
    width: 355px;
    height: 74.93px;
}

.newsletter p {
    font-weight: 600;
    font-size: 14px;
    height: 25px;
    margin: 0px;
}

.signUpEmail {
    width: 195px;
    height: 39px;
    padding: 0px;
    margin: 0px;
}

.signUpSubmit{
    width: 156px;
    height: 39px;
    background: #001F70;
    font-size: 24px;
    color: white;
    font-family: Roboto;
    font-weight: 700;
}

.social-media{
    width: 355px;
    height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.socialMediaText {
    font-weight: 600;
    font-size: 14px;
    width: 125px;
    margin: 0px;
}

.social-media-logo {
    width: 160px;
}

.social-media-logo img{
    max-width: 47px;
    max-height: 47px;
}

/* ################### FORM LOGIN ################### */

.formLogin {
    background-color: #1E1C21;
    height: 450px;
    color: white;
    font-family: Roboto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: "wrap";
}


.formArea form input{
    
}

.formArea h1 {
    font-size: 32px;
}

.labelForm {
    font-size: 18px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginInput {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}